<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Files</title>
        <link rel="stylesheet" href="/stylesheets/page.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    </head>
    <body onload="getKey()">
        <section class="root">
            <div class="backdrop"></div>
            <div class="container">
                <div class="uploadSection">
                    <h2>File Upload</h2>
                    
                    <div class="inputSection">
                        <label>Enter Password to Encrypt Files</label>
                        <input id="encryptionInput" type="password" />
                        <p id="encryptionError" style="display: none;"></p>
                    </div>
                  
                     <div class="inputSection">
                        <label>Upload File</label>
                        <input type="file" id="fileInput" hidden />
                        <input type="text" disabled id="fileNameInput" />
                        <p id="fileSizeError" style="display: none;"></p>
                    </div>

                    <div class="actionsContainer">
                        <label for="fileInput" class="button">Browse</label>
                        <button id="uploadButton" class="button" disabled>UPLOAD</button>
                    </div>
                    <!-- <div class="progress"></div> -->
                </div>
                <div class="progressSection">
                    <div class="gdMessage">Upload files to acess anywhere!</div>
                    <div class="filesTable" style="display: none;">
                        <h3>Progress</h3>
                        <table id="table">
                            <thead>
                                <th style="width: 100px;">DATE</th>
                                <th style="width: 250px;">NAME</th>
                                <th style="width: auto;">PROGRESS</th>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script type="text/javascript" src="/javascripts/page.js"></script>
</html>
